@import "tailwindcss";

@theme {
  --color-brand: rgb(var(--brand-primary));
  --color-brand-hover: rgb(var(--brand-primary-hover));
  --color-brand-light: rgb(var(--brand-primary-light));
  --color-brand-ring: rgb(var(--brand-primary-ring));
  --color-brand-secondary: rgb(var(--brand-secondary));
  --color-brand-secondary-hover: rgb(var(--brand-secondary-hover));
  --color-brand-secondary-light: rgb(var(--brand-secondary-light));
  --color-brand-tertiary: rgb(var(--brand-tertiary));
  --color-brand-tertiary-light: rgb(var(--brand-tertiary-light));
}

:root {
  --brand-primary: 79 70 229;
  --brand-primary-hover: 67 60 195;
  --brand-primary-light: 238 237 252;
  --brand-primary-ring: 99 90 243;
  --brand-secondary: 99 102 241;
  --brand-secondary-hover: 84 87 205;
  --brand-secondary-light: 240 240 253;
  --brand-tertiary: 129 140 248;
  --brand-tertiary-light: 242 243 254;
}
